#infoDiv {
    text-align: justify;
    display: none;
    position: fixed;
    width: 50%;
    bottom: 100px;
    top: 80px;
    left: 20em;
    right: 20em;
    color: #000;
    background-color: #fffffff1;
    border-radius: 12px;
    margin: 0 auto;
    overflow-y: scroll;
    padding: 20px;
    z-index: 9999;
}

@media only screen and (max-width: 600px) {
    #infoDiv {
        width: 80%;
        bottom: 10px;
        top: 50px;
        left: 4em;
        overflow-y: scroll;
    }
}